# Editor
.idea/
.vscode/

# Cache
__pycache__/
.DS_Store
.tox/
.pytest_cache/
MANIFEST

# Build
build/
dist/
*egg-info/

# Test coverage
.coverage
coverage.xml
htmlcov/

# the pydolphinscheduler config
config.yaml

# Release
release/
